.container {
  display: flex;
  padding: 50px;

  .left {
    flex: 2;

    .table {
      width: 100%;
      border-spacing: 20px;

      td {
        text-align: center;
      }

      .imgContainer {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
      }

      .name {
        font-weight: 500;
        color: #d1411e;
        font-size: 18px;
      }

      .total {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .right {
    flex: 1;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      max-height: 300px;
      padding: 50px;
      padding-top: 10px;
      background-color: #333;
      color: #fff;

      .totalTextTitle {
        margin-right: 10px;
      }

      .button {
        height: 30px;
        margin-top: 20px;
        color: #d1411e;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
